%tr.task
  %td
    - if task.complete?
      = link_to task.name, task_uncomplete_path(task), class: [:complete, task.status]
    - else
      = link_to task.name, task_complete_path(task.id), class: [task.status]

  %td
    .controls
      %a.btn.btn-mini{href: task_up_path(task)}
        %i.icon-chevron-up
      %a.btn.btn-mini{href: task_down_path(task)}
        %i.icon-chevron-down
      %a.btn.btn-mini{href: task_path(task)}
        %i.icon-remove
