%tr.task
  %td.span1
    = render partial: "tasks/complete_btn", locals: {task: task}

  %td.span3
    = render partial: "tasks/name", locals: {task: task}

  -# %td.span3
  -#   .subtasks
  -#     - task.descendants.count.times do |desc_i|
  -#       ==.

  %td.span2
    .stages
      - @stages.each do |s|
        .stage{class: task.stage_tense(s), style: "background-color:#{s.color};"}

  %td.span2
    .controls
      %a.btn.btn-mini{href: task_up_path(task)}
        %i.icon-chevron-up
      %a.btn.btn-mini{href: task_down_path(task)}
        %i.icon-chevron-down
      = render partial: "tasks/delete-btn", locals: {task: task}
