%tr.task
  %td.span1
    - if task.complete?
      %a.btn.btn-mini{href: task_uncomplete_path(task)}
        %i.icon-refresh
    - else
      %a.btn.btn-mini{href: task_complete_path(task)}
        %i.icon-ok

  %td.span3
    - if task.complete?
      = link_to task.name, task_path(task), class: [:complete, task.status]
    - else
      = link_to task.name, task_path(task.id), class: [task.status]

  %td.span3
    .subtasks
      - task.descendants.count.times do |desc_i|
        ==.

  %td.span2
    .stages
      - task.stages.each do |s|
        .stage{class: ["#{s[:name]}", "#{s[:status]}"]}

  %td.span2
    .controls
      %a.btn.btn-mini{href: task_up_path(task)}
        %i.icon-chevron-up
      %a.btn.btn-mini{href: task_down_path(task)}
        %i.icon-chevron-down
      %a.btn.btn-mini{href: task_path(task), "data-method" => "delete"}
        %i.icon-remove
