// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tasks {
  .task {
    border: 1px solid #000;
    border-radius: 5px;
    margin: 10px;
    padding-left: 10px;
    position: relative;

    a {
      text-decoration: none;
    }

    .complete {
      text-decoration: line-through;
    }
    
    .closed {
      opacity: .2;
    }

    .controls {
      float: right;
      position: absolute;
      top: 0;
      right: 0;
    }

    form.new_task {
      display: inline-block;
      margin: 0;
    }
  }
}
