// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task-header {
  margin-bottom: 10px;

  h3 {
    line-height: 25px;
    margin: 0;
    
    a {
      text-decoration: none;
    }

    a.complete {
      text-decoration: line-through;
    }
  }
}

.tasks {

  .task {

    a {
      text-decoration: none;
    }

    .complete {
      text-decoration: line-through;
    }
    
    .closed {
      opacity: .2;
    }

    .stages {
      .stage {
        display: inline-block;
        width: 32px;
        height: 16px;
        border-radius: 2px;
      }

      .off {
        opacity: .1;
      }
    }

    .controls {
      float: right;
    }
  }
}

.versions {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #999;
}
